name: Publish to VS Marketplace

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: read

jobs:
  publish:
    uses: CodingWithCalvin/.github/.github/workflows/vsix-publish.yml@main
    with:
      extension-name: CouchbaseExplorer
      display-name: 'Couchbase Explorer'
      marketplace-id: CodingWithCalvin.VS-CouchbaseExplorer
      description: 'Browse and manage your Couchbase Server data directly from Visual Studio'
      hashtags: '#couchbase #nosql'
    secrets: inherit
